body {
    padding: 0; 
    margin: 0;
    background: #30022c
}
header{
    
    /* background-image: url(../Pictures/flywheel.jpg); */
    color:#ffffff;
    background-size: 100%; 
    padding: 1%;
    background-repeat: no-repeat;
}

.loginpage{

    
    color:#84ffff;
    float: right;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 5, 54);
    width:100%;
  }
  
  li {
    float: right;
 }
  
  li a {
    display: block;
    color: rgb(233, 242, 243);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.active {
    background: #FFFFFF; 
}
/* .topnav{
    float:inline-start;
    position: relative;


} */
/* .topnav img{
    border: solid 2px #000000; /* Black 
    width: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 8%;
    float:inline-start;
    position: absolute;
    bottom:-180%;
    left: 2%;
} */

h1{
    color:#84ffff;
    text-align: center;
    text-transform: uppercase; 
	font-size: 40px;
	position: relative;
	top: -10px;
    margin: 0;
    padding: 0;

}
h1 img{
    width:10%; 
    height: 100px;
    bottom: 150px; 
    margin-top: -2%;
}
h2{
    color:#000000;
    text-transform: uppercase;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 30px;
}
.categories{
width:220px;
background: #080808;
padding: 1% 0;
display:table;
}
.categories img{
    border: solid 2px #000000; /* Black */
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 8%;
    margin-bottom: 8%;
    display:table;
}

.desc{
    background: rgb(233, 20, 20);
    width: 58%;
		display: inline-block;
		padding-left: 2%;
}
a {
    font-family: Arial,'Times New Roman', Times;
    font-weight: bold;
    font-size: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;	
    font-size: 20px;
}
table, td, th {
    border: 1px solid rgb(32, 4, 110);
    font-size: 20px; 
}
table {
    border-collapse: collapse;
}
th {
    text-align: left;
}
.search-wrapper {
    position: relative;
}

.search-wrapper img {
    position: absolute;
    top: 0px;
    left: 0px;
}
/* footer{
    color:#84ffff;
    position: relative;
    width: 3px;
    top: 100 px;
    left:500px;
} */