body  
{   margin: 0;  
    padding: 0;  
    background: #30022c;
    background-image: url(../IEEE-webdev/pics/5.jpg);
    /* background-image: linear-gradient(#30022c 40%,#75036c ); */
    font-family: 'Times New Roman';  
    background-repeat: no-repeat;
}  
.login{  
        width: 360px;  
        height:600px;
        overflow: hidden;  
        margin: auto;  
        margin: 10 0 0 0px;  
        padding: 50px;  
        padding-top: 10px;
        background:#065f6b; 
        /* background: #075c4b;   */
        border-radius: 50px ;  
          
}  
h1{  
    text-align: center; 
    font-size: 45px; 
    color: #ffffff;  
    padding: 10px;  
    text-decoration: underline;
    
}  
h1:hover{
    background:#5a7b81; 
    border-radius: 15px;
}
.pics{
width: 360px;  
height:540px;
float:left;
background:#065f6b; 
padding: 50px;
margin:10px; 
margin-left: 80px;
margin-top: 0px;
border-radius: 50px ;  
text-align: center; 
font-size: 25px; 
color: #ffffff;  
text-transform: uppercase;
font-weight: bold;
}
.pics img{
   
    border: solid 4px #000000; /* Black */
    width: 40%;
    margin-left: 0%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 3%;
}
label{  
    color: #ffffff;  
    font-size: 30px;  
}  
#Uname{  
    width: 300px;  
    height: 35px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 35px;  
    border:none ;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#login{  
    width: 300px;  
    height: 40px;  
    border: none;  
    border-radius: 25px;  
    padding-left: 7px;  
    color: rgb(0, 0, 0);  
    font-size: 20px;  
    font-family: 'Arial';  
    font-weight: bold;
  
}  
#signup{
    width: 300px;  
    height: 35px;  
    border: none;  
    border-radius: 10px;  
    padding-left: 8px;  
    font-size: 20px;  
    font-family: 'Arial';  
    font-weight: bold;
}
span{  
    color: white;  
    font-size: 20px;
    font-family: 'Arial';  
}  
a{  color: #ffffff;  
    float: right;  
    font-family: 'Times New';  
    }  
    p:hover{
        border:solid 2px #000000;

    }
    #signup:hover{
        background:#6ecaca; 
    }
/* br{
    padding: 100px;
} */